@page
@model CRUD_Razor_2_1.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Index";
}

<a asp-page="Create" class="btn btn-primary"></a>

@if (Model.Books.Count() > 0)
{
    <div>Books are available!</div>
}
else
{
    <div>No Books are Available</div>
}

